<h2>Welcome to Popularity Contest!</h2>
<h3>Where really, nobody ever wins</h3>

<ul>
  <% @tweeps.each do |tweep| %>
    <li>
      <%= tweep.name %> - <%= tweep.screen_name %> - <%= tweep.followers_count %>
  </li>
<% end %>
